<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>SimpleCRUD</ion-card-title>
      <ion-card-subtitle>Develop by Faiq</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>This SimpleCRUD is implement RestAPI that have been build using SpringBoot and MySQL as the database</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://www.djamware.com/post/5b5cffaf80aca707dd4f65aa/building-crud-mobile-app-using-ionic-4-angular-6-and-cordova">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Tutorial & Coding by djam</ion-label>
    </ion-item>
    <ion-item href="https://www.websparrow.org/spring/spring-boot-restful-crud-example-with-mysql-database">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>RestAPI Tutorial</ion-label>
    </ion-item>
    <ion-item href="https://github.com/Faiq98/ionic4-SimpleCRUD">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>SimpleCRUD Source Code</ion-label>
    </ion-item>
  </ion-list>
</ion-content>